html {
  scroll-behavior: smooth;
  scroll-padding-top: 85px;
}

/* Nav */

.bg-navyblue {
  background-color: #001f3f !important;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}


.title-font{
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  color: #ffcc00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-link-custom {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-link-custom:hover {
  color: #ffcc00; /* Electric Yellow */
  text-shadow: 0 0 8px #ffcc00, 0 0 16px #ffcc00;
  transform: scale(1.05);
}


/* Pokedex */
.pokedex-card {
  max-width: 1200px;
  margin: 50px auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.left-panel {
  background: #002244;
  color: white;
  padding: 30px;
  text-align: center;
}

.left-panel img {
  width: 200px;
  margin-bottom: 20px;
}

.poke-number {
  font-size: 14px;
  color: #ccc;
}
.poke-name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.type-badge {
  background-color: #aaa;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 14px;
  display: inline-block;
}
.tab-pane {
  padding: 10px;
}

.right-panel {
  padding: 30px;
  background: #f0f0f0;
  border-left: 1px solid #ddd;
  position: relative;
}


/* Skills Section */

.skill-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 23px;
}

.pokemon-card-content {
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 10px;
  line-height: 1.5;
}

.card-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #222;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 0.3rem;
}

.hp {
  color: red;
  font-weight: bold;
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border: 2px solid #000;
  border-radius: 8px;
  margin: 0.7rem 0;
}

.attack {
  font-size: 10px;
  margin-bottom: 0.5rem;
}

.energy {
  float: right;
  font-size: 12px;
}

.zmove-bs {
  font-size: 9px;
  font-style: italic;
  background: #fff8d1;
  padding: 0.3rem 0.6rem;
  border: 1px solid #999;
  border-radius: 6px;
}

.zmove-mk {
  font-size: 9px;
  font-style: italic;
  background: #ffd1d3;
  padding: 0.3rem 0.6rem;
  border: 1px solid #999;
  border-radius: 6px;
}

.zmove-mk {
  font-size: 9px;
  font-style: italic;
  background: #ffd1d3;
  padding: 0.3rem 0.6rem;
  border: 1px solid #999;
  border-radius: 6px;
}

.zmove-hb {
  font-size: 9px;
  font-style: italic;
  background: #e0fffd;
  padding: 0.3rem 0.6rem;
  border: 1px solid #999;
  border-radius: 6px;
}

.stats {
  display: flex;
  justify-content: space-between;
  font-size: 9px;
  margin-top: 0.5rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 2px solid #222;
  margin-top: 1rem;
  padding-top: 0.5rem;
  font-size: 8px;
  position: relative;
}

.card-number {
  position: absolute;
  right: 0.75rem;
  bottom: 0.3rem;
  font-size: 7px;
  color: #555;
}

.body-card {
  background: linear-gradient(to bottom right, #fffdd0, #e7d425);
}

.mega-card {
  background: linear-gradient(to bottom right, #ffe5e5, #cf5757);
}

.hyper-card {
  background: linear-gradient(to bottom right, #e0fffd, #439bee);
}


.card-title {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 0;
  letter-spacing: -0.5px;
}


.pokemon-card-border-body {
  background: #ffcc00;
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.4);
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.pokemon-card-border-mega {
  background: #ff6666;
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.4);
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.pokemon-card-border-hyper {
  background: #66cfff;
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.4);
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.pokemon-card-border-body:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px gold, 0 0 10px #ffcc00;
  border: 3px solid gold;
  cursor: pointer;
  z-index: 10;
}

.pokemon-card-border-mega:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgb(255, 0, 0), 0 0 10px #ff6666;
  border: 3px solid rgb(255, 0, 0);
  cursor: pointer;
  z-index: 10;
}

.pokemon-card-border-hyper:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgb(111, 0, 255), 0 0 10px #66cfff;
  border: 3px solid rgb(111, 0, 255);
  cursor: pointer;
  z-index: 10;
}


.pokemon-card-wrapper {
  padding: 15px;
}

/* Evolution */

.evolution-section {
  font-family: 'Press Start 2P', cursive;
  background-color: #0f0f0f;
  border-top: 4px solid #f8f32b;
  border-bottom: 4px solid #f8f32b;
}

.evo-card {
  background-color: #1f1f1f;
  border: 3px solid #f8f32b;
  border-radius: 12px;
  box-shadow: 0 0 10px #f8f32b88;
  color: #fff;
  font-size: 10px;
  height: 100%;
}

.evo-card {
  background-color: #1f1f1f;
  border: 3px solid #f8f32b;
  border-radius: 12px;
  box-shadow: 0 0 10px #f8f32b88;
  color: #fff;
  font-size: 10px;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.evo-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #f8f32b, 0 0 10px #f8f32b;
  border: 3px solid #ffe600;
  z-index: 10;
  cursor: pointer;
}


.evo-arrow {
  font-size: 40px;
  color: #f8f32b;
}

.poke-description {
  font-size: 9px;
  line-height: 1.5;
  color: #cccccc;
}

.stats-list {
  list-style: none;
  padding: 0;
  font-size: 9px;
  color: #f8f8f8;
}

.type-badge-normal {
  background: #aaa;
  color: #000;
  padding: 2px 10px;
  border-radius: 12px;
  font-size: 8px;
  display: inline-block;
}


/* Trainer */

.trainer-section {
  background-color: #1d2b53;
}

.trainer-card {
  background-color: #fdf5e6;
  border: 2px solid #333;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: transform 0.2s ease-in-out;
  border-radius: 12px;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
  align-items: center;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.trainer-card:hover {
  transform: scale(1.02);
}

.trainer-img {
  margin-right: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #333;
  flex-shrink: 0;
}


.trainer-name {
  font-family: 'Press Start 2P';
  font-size: 12px;
  margin-bottom: 4px;
  color: #222;
}

.trainer-quote {
  font-family: monospace;
  font-size: 11px;
  color: #333;
  margin-bottom: 6px;
}

.trainer-badge {
  font-family: 'Press Start 2P';
  font-size: 10px;
  background: #ffc107;
  padding: 2px 6px;
  border: 1px solid #222;
  border-radius: 4px;
  color: #000;
}



